local/
internal/
doc/
target/
.project
.pydevproject
.settings/
.classpath
.DS_Store
*.osm.pbf
*.bfmap
*.pyc
*.tar.gz
*.synctex.gz
*.log
*.aux
*~

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
